:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%); /*graphic design text*/
    --Dark-blue: hsl(198, 62%, 26%);    /*photography text*/
    --Dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif;  */
}

.header_container{
    width: 100%;
    height: 70vh;
}
.header_container .header_image{
    position: absolute;
    width: 100%;
    height: 70vh;
}

.navbar_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: 10vh;
}

.navbar_toggle{
    position: absolute;
    cursor: pointer;
    margin: 0 10px;
    right: 0;
}

.close{
    display: none;
    width: 24px;
    height: 18px;
}

.navbar_checkbox{
    display: none;
}

.navigation_container .navbar_logo{
    position: absolute;
    left: 0;
    width: 100px;
    height: 20px;
    margin-left: 15px;
    margin-right: auto;
}

.navbar_container .navigation_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-items: center;
    margin: 0px 10px;
}

.navbar_container .navigation_container li{
    list-style: none;
    display: none;
    
}



.navbar_container .navigation_container a{
    text-decoration: none;
    color: var(--White);
    font-size: 1.1rem;
}

#navbar_checkbox:checked ~ ul.navigation_container li{
    display: block;
}

#navbar_checkbox:checked ~ ul.navigation_container li a{
    color: var(--Very-dark-grayish-blue);
    font-size: 1.3rem;
    font-weight:500
}

#navbar_checkbox:checked ~ ul.navigation_container li .contact{
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    background-color: var(--Yellow);
    padding: 10px 15px;
    border-radius: 20px;
}
#navbar_checkbox:checked ~ label.navbar_toggle .close{
    display: block;
}

#navbar_checkbox:checked ~ label.navbar_toggle .navbar_hamburguer{
    display: none;
}
 
#navbar_checkbox:checked ~ ul.navigation_container .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.list{
    z-index: 3;
    display: none;
    
    gap: 0px;
    margin-top: 20px;
    background-color: var(--White);
    width: 250px;
    height: 230px;
}

.list-links{
    display: none;
}
.header_container .header_title{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;


}

.header_container .header_title h1{
    text-align: center;
    letter-spacing: 0.6rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 4rem;
    color: var(--White)
}

.header_container .header_title img{
    width: 30px;
    height: 100px;
    margin-bottom: 45px;
}

.main_container{
    width: 100%;
    height: auto;
}

.main_container .main-transform_container{
    width: 100%;
    background-color: var(--White);

}

.main-transform_container picture{
    width: 100%;
    height: 100%;
}
.main-stand-out_container picture{
    width: 100%;
    height: 100%;
}
.main-transform_container .transform_image{
    width: 100%;
    height: 350px;
    
}

.main-stand-out_container .stand-out_image{
    width: 100%;
    height: 350px;
    
}

.main-transform_container .transform_information, .main-stand-out_container .stand-out_information{
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.transform_information h2, .stand-out_information h2{
    font-family:'Fraunces', serif;
    font-size: 3.4rem;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue)
}

.transform_information p, .stand-out_information p{
    margin: 20px 0;
    font-size: 1.7rem;
    line-height: 3rem;
    font-weight: 400;
    color: var(--Very-dark-grayish-blue);
}

.transform_information a, .stand-out_information a{
    width: max-content;
    height: max-content;
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
}

.transform_information a{
    border-bottom: 5px solid rgb(247, 247, 159);
}

.transform_information a:hover{
    border-bottom: 5px solid var(--Yellow);
}

.stand-out_information a:hover{
    border-bottom: 5px solid var(--Soft-red);
}

.stand-out_information a{
    border-bottom: 5px solid rgb(252, 193, 193);
}

.main-value_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.graphic-design_container picture, .photography_container picture{
    width: 100%;
    height: 100%;
}

.graphic-design_container, .photography_container{
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graphic-design_container .graphic-design_image, .photography_container .photography_image{
    position: absolute;
    width: 100%;
    height: 600px;
}

.graphic-design_container .graphic-design_information, .photography_container .photography_information{
    width: 90%;
    min-height: 150px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graphic-design_information h2{
    color: var(--Dark-desaturated-cyan);
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
    font-weight: 900;
}

.graphic-design_information p{
    color: var(--Dark-desaturated-cyan);
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
}

.photography_information h2{
    text-align: center;
    color: var(--Dark-blue);
    font-family: 'Fraunces', serif;
    font-size: 2.8rem;
    font-weight: 900;
}

.photography_information p{
    color: var(--Dark-blue);
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 400;
}

.main-clients_container{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 50px auto 45px auto;
}
.main-clients_container h2{
    font-family: 'Fraunces', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: var(--Grayish-blue);
}

.section_clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;
    padding: 50px 0 45px 0;
}

.main-clients_container .client_container{
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.client_container img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.client_container .client_experience{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.8rem;
    color: var(--Very-dark-grayish-blue);
}

.client_container .client_name{
    font-family: 'Fraunces', serif;
    font-size: 1.65rem;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
}

.client_container .client_role{
    padding-top: 10px;
    font-weight: 300;
    font-size: 1.1rem;
    color: hsl(206, 6%, 76%);
}

.main-gallery_container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-gallery_container picture{
    width: 100%;
    height: 160px;
}

.main-gallery_container img{
    width: 100%;
    height: 160px;
    object-fit: fill;
}

.footer_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    background-color: #98d8c8;
}

.footer_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto 20px auto;
}

.footer_links{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.footer_links ul{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    list-style: none;
}

.footer_links a{
    font-size: 1.3rem;
    color: var(--Dark-moderate-cyan);
    text-decoration: none;
}

.footer_links a:hover{
    color: var(--White);
}

.footer-images_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-images_container a{
    width: 20px;
    height: 20px;
}

.footer-images_container .twitter_icon{
    width: 20px;
    height: 17px;
}

.facebook_icon{
    background-image: url("./assets/images/icon-facebook.svg");
}
.facebook_icon:hover{
    background-image: url("./assets/images/icon-facebook-active.svg");
}

.instagram_icon{
    background-image: url("./assets/images/icon-instagram.svg")
}
.instagram_icon:hover{
    background-image: url("./assets/images/icon-instagram-active.svg")
}

.twitter_icon{
    background-image: url("./assets/images/icon-twitter.svg")
}
.twitter_icon:hover{
    background-image: url("./assets/images/icon-twitter-active.svg")
}

.pinterest_icon{
    background-image: url("./assets/images/icon-pinterest.svg")
}
.pinterest_icon:hover{
    background-image: url("./assets/images/icon-pinterest-active.svg")
}
